@font-face {
  font-family: 'Black';
  src: url('fontface_black.otf');
}

@font-face {
  font-family: 'Regular';
  src: url('fontface_regular.otf');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

body {
  position: relative;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#redo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Black';
  font-size: 5vw;
  color: white;
}

#orientir {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Black';
  font-size: 5vw;
  color: white;
  padding-right: 3vw;
}

.top-invite {
  font-family: 'Regular';
  font-size: 2.5vw;
  align-self: center;
  position: fixed;
  top: 0;
  margin-top: 1vh;
  color: rgb(100, 100, 100);
}

.bottom-time-place {
  font-family: 'Regular';
  font-size: 2.5vw;
  bottom: 0;
  position: fixed;
  margin-bottom: 1vh;
  color: rgb(100, 100, 100);
}

.top-invite a {
 text-decoration: none;
 color: rgb(255, 255, 255);
}

.top-invite a:hover {
  transform: matrix(1, 0.03, 0, 0.8, 0, 0);
  transition: 0.1s;
}
 
.link{
  display: inline-block;
  transition: 0.2s;
}

 .link:hover {
  transform: matrix(1, 0.03, 0, 0.8, 0, 0);
  transition: 0.1s;
}

 @media (max-width: 468px) {
  
  .wrapper {
    flex-direction: column;
    height: 85vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  #redo {
    width: 100%;
    height: 50%;
    font-size: 15vw;
    padding-top: 15vh;
  }
  
  #orientir {
    width: 100%;
    height: 50%;
    font-size: 15vw;
    padding-bottom: 15vh;
  }

  .top-invite {
    font-size: 5vw;
    margin-top: 1vh;
  }
  
  .bottom-time-place {
    font-size: 5vw;
    margin-bottom: 1vh;
  }
  
}